body{
    margin: 0;
}
.divLogo{
    background-color: #B0C80B;
}
.logo{
    width: 25%;
    padding: 16px; 
}
.menu{
    /*float: right;*/
    text-align: right;
}
.menu > li{
    display: inline-block;
    height: 20px;
    vertical-align: middle;
    margin: 8px;
}
.divMenu{
    background-color: #424242;
}
.enlaceBoton{
    color: #FFF;
    text-decoration: none; 
}
.enlaceBoton:hover{
    color:#B0C80B;
}
.imgPrincipal{
    display: inline-block;
    width: 100%;
}
.divPrincipal{
    text-align: center;
    border-bottom: 10px solid #b0c80b;
}
.textoPrincipal{
    display: inline-block;
    width: 28%;
    vertical-align: top;
    font-family: system-ui;
    font-size: 30px;
    padding: 10px;
    text-align: center;
}
.tdProductos{
    width: 20%;
}
.imgProductos{
    width: 100%;
}
td{
    border-bottom: 2px solid #b0c80b;
}
footer{
    background-color: #424242;;
    padding: 16px;
}
h2{
    color: #b0c80b;
}
.textoFooter{
    color:#FFF;
}

/* STYLE PROMOCIONES */

.divPromocion{
    padding:10px;
}
.pc1{
    width:30%;
    float: left;
    text-align: center;
}
.victus{
    width: 392px;
    height: 384px;
}
.pc2{
    width:30%;
    float: left;
    text-align: center;
}
.clear{
    clear: both;
}

/* STYLE CONTACTO */
.form{
    border: 2px solid black;
}

form  input{
    margin :14px;
}
input{
    font-size:28px;
}
.msj{
    padding-bottom: 80px;
}
button{
    margin:20px;
    font-size:28px;
}

/* STYLE UBICACION */

.ubi{
   text-align:center;
}